@use "../global" as global;

.p-mv {
  inline-size: 100%;
  block-size: 324.333px;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  @include global.mq("pc") {
    block-size: 580px;
  }
  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: url(../img/mv-img.jpg) no-repeat center center / cover;
    inline-size: 834px;
    block-size: 100%;
    @media (min-width: 835px) and (max-width: 1024px) {
      inline-size: 100%;
    }
    @include global.mq("pc") {
        inset-block-start: 10px;
      inline-size: 1440px;
      block-size: 560px;
    }
    @media (min-width: 1441px) {
      inset-inline-start: 50%;
      transform: translateX(-50%);
    }
  }
}

.p-mv__inner {
}

.p-mv__content {
  position: absolute;
  display: inline-block;
  padding-block: 4px 10px;
  padding-inline: 10px;
  background-color: global.$background-base;
  opacity: 0.9;
  inset-block-end: 14.33px;
  inset-inline-end: 42px;
  @include global.mq("tab") {
    inset-block-end: 33.33px;
    inset-inline-end: 163px;
  }
  @include global.mq("pc") {
    inset-block-end: 31px;
    inset-inline-end: 20.3%;
    padding-block: 11px 22.5px;
    padding-inline: 49px;
  }
}

.p-mv__title {
  font-size: 30px;
  @include global.mq("pc") {
    font-size: 48px;
  }
}

.p-mv__text {
  margin-block-start: 17px;
  margin-inline-start: 5.5px;
  font-size: 20px;
  line-height: 24.5px;
  @include global.mq("pc") {
    font-size: 32px;
    line-height: 40px;
    margin-block-start: 17px;
    margin-inline-start: 10.1px;
  }
}
