@use "../global" as global;

.p-service {
    padding-block-start: 15px;
    padding-block-end: 10px;
    @include global.mq('tab') {
        padding-block-start: 34px;
        padding-block-end: 30px;
    }
    @include global.mq('pc') {
        padding-block-start: 10px;
        padding-block-end: 30px;
    }
}


.p-service__body {
    margin-block-start: 4px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    @include global.mq('tab') {
        margin-block-start: 14px;
        flex-direction: row;
        gap: 10px;
    }
    @include global.mq('pc') {
        margin-block-start: 13px;
        flex-direction: row;
        gap: 10px;
    }
}

