*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

body {
	background-color: #fff;
	color: #000;
	font-family: "Noto Sans JP", serif;
	font-size: 15px;
	font-weight: 400;
}

.l-header__inner {
	display: flex;
	justify-content: space-between;
	margin-block-end: 10px;
	margin-inline: auto;
	max-inline-size: 400px;
}

.l-header__nav {
	display: none;
}

.l-header__logo {
	block-size: 98px;
	inline-size: 96px;
	padding: 10px;
}

.l-inner {
	margin-inline: auto;
	max-inline-size: 570px;
	padding-inline: 35px;
}

.l-footer__inner {
	display: flex;
	justify-content: space-between;
	margin-block-end: 10px;
	margin-inline: auto;
	max-inline-size: 400px;
}

.l-footer__menu {
	display: none;
}

.l-footer__logo {
	block-size: 98px;
	inline-size: 96px;
	padding: 10px;
}

.l-footer__page-up {
	block-size: 100px;
	inline-size: 94px;
	position: relative;
}

.l-footer__page-up::before {
	background: url(../img/page-up.png) no-repeat center center/contain;
	block-size: 50px;
	content: "";
	inline-size: 50px;
	inset-block: 25px;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.c-drawer-icon {
	block-size: 100px;
	inline-size: 94px;
	position: relative;
}

.c-drawer-icon__bar {
	background-color: #D9D9D9;
	block-size: 5px;
	inline-size: 50px;
	inset-inline-start: 50%;
	position: absolute;
	transform: translateX(-50%);
	transition: all 0.3s;
}

.c-drawer-icon__bar:nth-of-type(1) {
	inset-block-start: 32.5px;
}

.c-drawer-icon__bar:nth-of-type(2) {
	inset-block-start: 47.5px;
	opacity: 1;
}

.c-drawer-icon__bar:nth-of-type(3) {
	inset-block-start: 62.5px;
}

.c-drawer-icon.is-open .c-drawer-icon__bar:nth-of-type(1) {
	inset-block-start: 47.5px;
	transform: translateX(-50%) rotate(45deg);
}

.c-drawer-icon.is-open .c-drawer-icon__bar:nth-of-type(2) {
	inset-block-start: 47.5px;
	opacity: 0;
	transform: translateX(-30%);
}

.c-drawer-icon.is-open .c-drawer-icon__bar:nth-of-type(3) {
	inset-block-start: 47.5px;
	transform: translateX(-50%) rotate(-45deg);
}

.c-button {
	display: flex;
	justify-content: center;
}

.c-button__link {
	background-color: #000080;
	border-radius: 25px;
	color: #fff;
	font-size: 20px;
	padding-block: 10.5px;
	padding-inline: 25px 67px;
	position: relative;
}

.c-button__link::after {
	background: url(../img/button-arrow.png) no-repeat center center/contain;
	content: "";
	height: 32px;
	inset-block-start: 50%;
	inset-inline-end: 25px;
	position: absolute;
	transform: translateY(-50%);
	width: 32px;
}

.c-title {
	font-size: 30px;
}

.c-service-media {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.c-service-media__title {
	font-size: 20px;
}

.c-service-media__content {
	align-items: flex-start;
	display: flex;
	gap: 5px;
}

.c-service-media__img {
	flex-shrink: 0;
	inline-size: 110.837px;
}

.c-service-media__text {
	line-height: 1.2;
}

.c-testimonials-media {
	flex: 1;
}

.c-testimonials-media__img {
	inline-size: 180px;
	margin-inline: auto;
}

.c-testimonials-media__content {
	display: flex;
	flex-direction: column;
	gap: 7px;
	margin-block-start: 5px;
}

.c-testimonials-media__customer {
	align-items: center;
	display: flex;
	gap: 19px;
}

.c-testimonials-media__customer-img {
	inline-size: 60px;
}

.c-testimonials-media__text {
	line-height: 1.22;
}

.p-drawer {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 43px;
	padding-block-end: 29px;
	padding-block-start: 5px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 40;
}

.p-drawer__link {
	font-size: 30px;
}

.p-drawer {
	transform: translateX(100%);
	transition: all 0.3s linear;
}

.p-drawer.is-open {
	transform: translateX(0);
}

.p-navigation {
	align-items: center;
	gap: 40px;
}

.p-navigation__link {
	font-size: 20px;
}

.p-mv {
	background-color: #ddd;
	block-size: 324.333px;
	inline-size: 100%;
	overflow: hidden;
	position: relative;
}

.p-mv::before {
	background: url(../img/mv-img.jpg) no-repeat center center/cover;
	block-size: 100%;
	content: "";
	inline-size: 834px;
	inset: 0;
	position: absolute;
}

.p-mv__content {
	background-color: #fff;
	display: inline-block;
	inset-block-end: 14.33px;
	inset-inline-end: 42px;
	opacity: 0.9;
	padding-block: 4px 10px;
	padding-inline: 10px;
	position: absolute;
}

.p-mv__title {
	font-size: 30px;
}

.p-mv__text {
	font-size: 20px;
	line-height: 24.5px;
	margin-block-start: 17px;
	margin-inline-start: 5.5px;
}

.p-about {
	padding-block-end: 10px;
	padding-block-start: 15px;
}

.p-about__body {
	display: flex;
	gap: 10px;
	margin-block-start: 17px;
}

.p-about__img {
	flex-shrink: 0;
	inline-size: 150px;
}

.p-about__text {
	line-height: 1.16;
}

.p-about__button {
	margin-block-start: 47px;
}

.p-service {
	padding-block-end: 10px;
	padding-block-start: 15px;
}

.p-service__body {
	display: flex;
	flex-direction: column;
	gap: 7px;
	margin-block-start: 4px;
}

.p-testimonials {
	padding-block-end: 20px;
	padding-block-start: 13px;
}

.p-testimonials__body {
	display: flex;
	gap: 20px;
	padding-block-start: 7px;
}

.p-testimonials__button {
	margin-block-start: 10px;
}

.p-contact {
	padding-block-end: 30px;
	padding-block-start: 5px;
}

.p-contact__body {
	display: flex;
	gap: 10px;
	margin-block-start: 7px;
}

.p-contact__office-img {
	flex-shrink: 0;
	inline-size: 120px;
}

.p-contact__office-text {
	font-size: 12px;
	margin-block-start: 10px;
}

.p-contact__info {
	margin-inline-start: 18px;
}

.p-contact__address {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	gap: 18px;
	line-height: 1.33;
}

.p-contact__button {
	margin-block-start: 10px;
}

html.is-fixed,
body.is-fixed {
	overflow-y: hidden;
	position: fixed;
	width: 100%;
}

* {
	outline: 1px solid #333;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {

.l-header__inner {
	margin-block-end: 11.5px;
	max-inline-size: 680px;
	padding-inline: 40px;
}

.l-header__nav {
	display: flex;
}

.l-header__button {
	display: none;
}

.l-inner {
	max-inline-size: 680px;
	padding-inline: 40px;
}

.l-footer__inner {
	margin-block-end: 11.5px;
	max-inline-size: 680px;
	padding-inline: 40px;
}

.l-footer__menu {
	display: flex;
}

.l-footer__button {
	display: none;
}

.l-footer__page-up {
	display: none;
}

.c-button__link {
	font-size: 30px;
	padding-block: 3px;
}

.c-service-media {
	gap: 5px;
}

.c-service-media__content {
	flex-direction: column;
	gap: 3px;
}

.c-service-media__img {
	inline-size: 193.3333px;
}

.c-testimonials-media__img {
	inline-size: 290px;
}

.c-testimonials-media__content {
	flex-direction: row-reverse;
	gap: 20px;
}

.c-testimonials-media__customer {
	align-items: flex-start;
	flex-direction: column;
	gap: 3px;
}

.c-testimonials-media__customer-name {
	line-height: 1.2;
}

.c-testimonials-media__text {
	line-height: 1.2;
}

.p-drawer {
	display: none;
}

.p-mv__content {
	inset-block-end: 33.33px;
	inset-inline-end: 163px;
}

.p-about__img {
	inline-size: 295px;
}

.p-about__text {
	line-height: 1.195;
}

.p-about__button {
	margin-block-start: 63.5px;
}

.p-service {
	padding-block-end: 30px;
	padding-block-start: 34px;
}

.p-service__body {
	flex-direction: row;
	gap: 10px;
	margin-block-start: 14px;
}

.p-testimonials {
	padding-block-start: 14px;
}

.p-testimonials__button {
	margin-block-start: 30px;
}

.p-contact__office-img {
	inline-size: 260px;
}

.p-contact__office-text {
	font-size: 15px;
	line-height: 1.27;
	margin-block-start: 15px;
}

.p-contact__info {
	margin-inline-start: 29px;
}

.p-contact__button {
	margin-block-start: 36px;
}

.u-hidden-tab {
	display: none;
}

}

@media (min-width: 835px) and (max-width: 1024px) {

.p-mv::before {
	inline-size: 100%;
}

}

@media screen and (min-width: 1025px) {

.l-header__inner {
	max-inline-size: 1065px;
	padding-block: 11px;
	padding-inline: 40px;
}

.l-header__nav {
	display: flex;
}

.l-header__button {
	display: none;
}

.l-inner {
	max-inline-size: 1080px;
	padding-inline: 40px;
}

.l-footer__inner {
	max-inline-size: 1065px;
	padding-block: 11px;
	padding-inline: 40px;
}

.l-footer__menu {
	display: flex;
}

.l-footer__button {
	display: none;
}

.l-footer__page-up {
	display: none;
}

.c-button__link {
	font-size: 30px;
	padding-block: 3px;
}

.c-title {
	font-size: 50px;
}

.c-service-media {
	flex: 1;
	gap: 3px;
}

.c-service-media__title {
	font-size: 30px;
}

.c-service-media__content {
	flex-direction: column;
}

.c-service-media__img {
	inline-size: auto;
}

.c-service-media__text {
	font-size: 20px;
}

.c-testimonials-media__img {
	inline-size: auto;
}

.c-testimonials-media__content {
	block-size: 175px;
	flex-direction: row-reverse;
	gap: 80px;
	margin-block-start: 4px;
}

.c-testimonials-media__customer {
	align-items: flex-start;
	flex-direction: column;
	gap: 5px;
}

.c-testimonials-media__customer-img {
	inline-size: 100px;
}

.c-testimonials-media__customer-name {
	font-size: 20px;
	line-height: 1.2;
}

.c-testimonials-media__text {
	font-size: 20px;
	line-height: 1.2;
}

.p-drawer {
	display: none;
}

.p-navigation__link {
	font-size: 30px;
}

.p-mv {
	block-size: 580px;
}

.p-mv::before {
	block-size: 560px;
	inline-size: 1440px;
	inset-block-start: 10px;
}

.p-mv__content {
	inset-block-end: 31px;
	inset-inline-end: 20.3%;
	padding-block: 11px 22.5px;
	padding-inline: 49px;
}

.p-mv__title {
	font-size: 48px;
}

.p-mv__text {
	font-size: 32px;
	line-height: 40px;
	margin-block-start: 17px;
	margin-inline-start: 10.1px;
}

.p-about {
	padding-block-end: 30px;
	padding-block-start: 12px;
}

.p-about__body {
	gap: 40px;
}

.p-about__img {
	inline-size: 480px;
}

.p-about__container {
	padding-inline: 15px;
}

.p-about__text {
	font-size: 20px;
	line-height: 1.193;
}

.p-about__button {
	margin-block-start: 64px;
}

.p-service {
	padding-block-end: 30px;
	padding-block-start: 10px;
}

.p-service__body {
	flex-direction: row;
	gap: 10px;
	margin-block-start: 13px;
}

.p-testimonials {
	padding-block-start: 12px;
}

.p-testimonials__body {
	gap: 40px;
}

.p-testimonials__button {
	margin-block-start: 40px;
}

.p-contact {
	padding-block-end: 19px;
	padding-block-start: 2px;
}

.p-contact__office-img {
	inline-size: 460px;
}

.p-contact__office-text {
	font-size: 20px;
	line-height: 1.2;
	margin-block-start: 18px;
}

.p-contact__info {
	margin-inline-start: 127px;
}

.p-contact__address {
	font-size: 30px;
	gap: 29px;
}

.p-contact__button {
	margin-block-start: 32px;
}

.u-hidden-pc {
	display: none;
}

}

@media (min-width: 1441px) {

.p-mv::before {
	inset-inline-start: 50%;
	transform: translateX(-50%);
}

}

@media screen and (max-width: 768px) {

.u-hidden-sp {
	display: none;
}

}

@media screen and (max-width: 374px) {

.u-hidden-xs {
	display: none;
}

}

