@use "../global" as global;

.l-inner{
    max-inline-size: calc(500px + 35px * 2);
    padding-inline: 35px;
    margin-inline: auto;

    @include global.mq('tab') {
        max-inline-size: calc(600px + 40px * 2);
        padding-inline: 40px;
    }
    @include global.mq('pc') {
        max-inline-size: calc(1000px + 40px * 2);
        padding-inline: 40px;
    }
}