@use "../global" as global;

.c-button{
    display: flex;
    justify-content: center;
}

.c-button__link{
    background-color: global.$accent-color;
    color: global.$text-color-sub;
    font-size: 20px;
    padding-block: 10.5px;
    padding-inline: 25px 67px;
    border-radius: 25px;
    position: relative;
    @include global.mq('tab') {
        padding-block: 3px;
        font-size: 30px;
    }
    @include global.mq('pc') {
        padding-block: 3px;
        font-size: 30px;
    }
    &::after{
        position: absolute;
        content:"";
        width: 32px;
        height: 32px;
        inset-block-start: 50%;
        transform: translateY(-50%);
        inset-inline-end: 25px;
        background: url(../img/button-arrow.png) no-repeat center center / contain;
    }
}